* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Assistant", sans-serif;
}

:root {
    --header-font-size: 2rem;
    --btn-color: #c0333c;
    --nav-padding: 30px;
    --section-padding: 80px;
    --logo-img-size: 90px;
    --main-navbar-height: 156px;
    /* --text-font-size: 1.3rem; */
}

html {
    font-size: 16px;
    font-family: "Assistant", sans-serif;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    line-height: 3rem;
    scroll-behavior: smooth;
    scroll-padding-top: var(--main-navbar-height);
}

body {
    direction: rtl;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}

/**********************************************************/

.screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 84, 84, 0.441);

    display: none;
}

/* ---- contact-modal ---- */

.contact-modal {
    position: fixed;
    /* right: calc(50% - 250px); */
    /* top: 250px; */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 30;

    /* height: 300px; */
    width: clamp(270px, 70vw, 700px);
    background-color: #fff;
    border: 1px solid black;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

    display: none;
}

.contact-modal button.close-contact-modal {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    background-color: unset;
}

.contact-modal h3 {
    font-size: var(--header-font-size);
    margin-block-end: 30px;
}

.contact-modal h3 span {
    font-size: calc(var(--header-font-size) + 7px);
    padding: 5px;

    display: inline-block;
    animation: tada 2s;
}

.contact-modal form {
    display: grid;
    gap: 20px;
}

.contact-modal form input,
textarea,
button.form-btn {
    height: 45px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    font-size: 1.3rem;
}

.contact-modal form textarea {
    height: 70px;
}

.contact-modal form button {
    background-color: var(--btn-color);
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: var(--header-font-size);
    height: max-content;
}

body.open-contact-modal .screen {
    display: block;
}

/* ---- navbar ---- */

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    z-index: 10;

    background-color: white;
    padding: var(--nav-padding);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.75);
}

.main-navbar .menu-btn {
    display: none;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 53%;
    font-size: 1.3rem;
}

.main-nav .phone-number {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.7rem;
}

.main-nav .phone-number img {
    height: 38px;
    margin-right: 10px;
}

.main-nav ul.main-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.main-nav ul.main-nav-list li {
    background: linear-gradient(to right, #b4924e 0%, #c7a767 12%, #d8b97b 47%, #f5e3bd 100%) left bottom
        rgb(255, 255, 255, 0) no-repeat;
    background-size: 100% 4px;
    width: 140px;
}

.main-nav ul.main-nav-list a {
    color: black;
    font-weight: 500;
}

.logo-img {
    height: var(--logo-img-size);
}

/* ---- cover-img ---- */

.cover-img {
    background-image: url(../img/mashkanta/yechiel_pic1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    height: 80vh;
}

/* ---- title ---- */

.background-fixed {
    background-image: url(../img/mashkanta/yechiel_pic28.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
    z-index: -1;
    top: 0px;
}

.title-container {
    padding: var(--section-padding);
    position: relative;
}

.title-container .subtitle-container {
    width: 50%;
    text-align: right;
}

/* .title-container {
    padding: var(--section-padding);
    background-image: url(../img/mashkanta/yechiel_pic28.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-container .subtitle-container {
    width: 50%;
    text-align: right;
} */

h3.subtitle {
    font-size: var(--header-font-size);
    font-weight: 700;
    color: var(--btn-color);
    margin-bottom: 20px;
}

.section-intro {
    font-size: 1.5rem;
}

.section-intro span {
    font-weight: 700;
}

/* mini-contact */

.mini-contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--nav-padding);
    font-size: var(--header-font-size);
    background-image: linear-gradient(to right, #d7c29c, #b79755);
    padding: var(--nav-padding);
    flex-wrap: wrap;
}

.mini-contact-container h2,
button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.mini-contact-container h2::after,
button::after {
    content: "";
    /* position: absolute; */
    height: 1em;
    width: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mini-contact-container h2::after {
    background-image: url(../img/mashkanta/yechiel_pic30.png);
}

.mini-contact-container button::after {
    background-image: url(../img/mashkanta/yechiel_pic22.png);
    animation: tada 1.5s infinite;
}

/* .mini-contact-container img {
    margin-top: 7px;
    margin-right: 7px;
    height: 33px;
} */

.mini-contact-container button {
    /* margin: 0px 20px; */
    font-size: 2.4rem;
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    box-shadow: 5px 8px 8px 0px rgb(0 0 0 / 79%);
}

/* .mini-contact-container button img {
    margin: 0px;
    margin-right: 10px;
} */

/* ---- about ---- */

.about-container {
    /* box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.75); */
    /* font-size: 1rem; */
    /* background-color: black; */
    background-image: url(../img/mashkanta/yechiel_pic26.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    padding: var(--section-padding);
}

.about-container .about-intro {
    width: 60%;
    text-align: justify;
    font-size: 1.3rem;
}

.about-container h3 {
    margin-bottom: 13px;
}

.about-container img {
    display: none;
}

/* services-container */

.services-container {
    display: flex;
    flex-direction: column;
    gap: 2em;

    background-image: url(../img/mashkanta/yechiel_pic11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: var(--section-padding);
}

.services-container h3 {
    font-size: 3rem;
}

.services-container .services {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 30x;
}

.services-container .services div {
    flex-grow: 1;
    flex-basis: 250px;

    font-size: 1rem;
}

.services-container .services img {
    height: 120px;
}

.services-container .services h5 {
    font-size: 1.7rem;
    font-weight: 600;
}

/* process-container */

.process-container {
    background-image: url(../img/mashkanta/yechiel_pic33.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color: black; */
    color: white;
    padding: var(--section-padding);
}

.process-container h3 {
    font-size: 3rem;
    font-weight: 400;
}

.process-container .work-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    line-height: normal;
}

.process-container .work-process li {
    /* margin: 20px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;

    flex-basis: clamp(240px, 40%, 300px);
    flex-grow: 1;
    /* justify-content: start; */
}

.process-container .work-process li div.number {
    font-size: 8rem;
    font-weight: 700;
    margin-bottom: -30px;
    background: -webkit-linear-gradient(#e0d5c2, #b59149);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.process-container .work-process li div.text {
    font-size: 1.7rem;
    /* width: 288px; */
    text-align: right;
    margin-right: 10px;
}

/* recommend-container */

.recommends-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    /* box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.75); */
    padding: var(--section-padding) 0px;
    background-image: linear-gradient(to right, #e7d8bb, #bb9343);
}

.recommends-container h3 {
    font-size: 3rem;
}

.recommends-container .carousel {
    position: relative;
    overflow: hidden;

    /* width: 100vw; */
    /* height: 250px; */
    height: 22.1vw;
}

.recommends-container .carousel .cards-container {
    position: absolute;
    left: 20px;
    display: flex;

    touch-action: none;
    /* transform: translateX(-180px); */
}

.cards-container .card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 26vw;
    height: 22.1vw;

    margin-inline-start: 20px;
    background-color: #fff;
}

.cards-container .card .card-details {
    width: 95%;
    height: 95%;
    /* border: 2px solid black; */
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #e7d8bb, #b79755) 1;
}

.cards-container .card .card-details img {
    height: 100%;
    background-image: url();
}

.arrows {
    margin: 10px;
}

/* img {
    height: 50px;
} */

.arrows img:hover {
    cursor: pointer;
}
/* ---- contact ---- */

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    background-color: #e3e3e3;
    padding: var(--section-padding) 120px;
}

.contact-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .title h2 {
    display: flex;
    gap: 20px;
    font-size: 3rem;
    /* font-weight: 100; */
}

.contact-container .title h2::after {
    content: "";
    height: 1em;
    width: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/mashkanta/yechiel_pic12.png);
}

.details-container .form-container {
    display: flex;
    justify-content: space-between;
    gap: 2.5em;
}

.details-container .form-container .side-one,
.side-two {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.details-container .form-container input,
textarea {
    padding: 20px;
    font-size: 1.8rem;
    border: 2px solid #444141;
    height: 70px;
    border-radius: 20px;
}

.details-container .form-container textarea.content {
    height: 170px;
}

.details-container .form-container .form-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: var(--btn-color);
    width: 50%;
    height: 70px;
    border-radius: 20px;
    font-size: 2.5rem;
    color: white;
    align-self: end;
}

.details-container .form-container .form-btn::after {
    content: "";
    height: 1em;
    width: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/mashkanta/yechiel_pic37.png);
}

.details-container .form-container .form-btn:hover {
    cursor: pointer;
    background-color: rgb(171, 27, 36);
}

/* ---- banks-imgs ---- */

.banks-container {
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    background-color: #fff;
    height: 100px;
    padding: 0px;
}

.banks-container .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    transform: translateX(100%);
}

/* ---- banks-imgs ---- */
.banks-container .inner img {
    height: 30px;
}

/* ---- footer ---- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
    padding: 60px 50px;
    background-color: black;
    color: white;
}

.footer .contact-list {
    display: flex;
}

.footer .contact-list button {
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;
}

.footer .contact-list button img {
    height: 100%;
}

.footer .left-side {
    display: flex;
    align-items: center;
}

.footer .left-side .info-container p {
    margin: 0;
    text-align: left;
    height: 28px;
    font-size: 20px;
}

.footer .logo-img {
    margin-right: 50px;
}

/* ----------------------------------------------------- */

@keyframes rightLeft {
    0% {
        left: 8px;
    }
    50% {
        left: -8px;
    }
    100% {
        left: 8px;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}
