:root {
    --main-navbar-height: 195px;
    --section-padding: 50px;
}

html {
    font-size: 14px;
    line-height: 2.5rem;
}

/* ---- contact-modal ---- */

/* ---- navbar ---- */

.main-navbar {
    /* height: 200px; */
}

.main-nav {
    width: 100%;
    margin-top: 100px;
}

.main-nav .phone-number {
    position: absolute;
    top: 60px;

    font-size: 2.5rem;
}

.main-nav ul.main-nav-list {
    margin: 0px;
    /* margin-top: 25px; */
    font-size: 1.7rem;
    /* padding: 30px; */
}

.logo-img {
    position: absolute;
    top: 25px;
}

/* ---- cover-img ---- */

.cover-img {
    background-image: url(../img/mashkanta/yechiel_mobile_pic1.png);
    background-size: cover;
    /* background-position: top; */
    background-position: top center;
    /* height: 540px; */
    height: 62vw;
}

/* ---- title ---- */

.background {
    background-color: grey;
}

.title-container {
    background-position: 15% center;
    padding: 50px;
    opacity: 0.8;
}

.title-container .subtitle-container {
    width: 100%;
}

/* ---- mini-contact ---- */

.mini-contact-container {
    padding: 30px;
}

.mini-contact-container h2 {
    font-size: 3rem;
}
/* ---- about ---- */

/* services-container */

/* process-container */

/* recommend-container */

/* ---- contact ---- */

/* ---- banks-imgs ---- */

/* ---- footer ---- */
